@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Extending the form components */
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-gray-300 text-gray-900 placeholder-gray-400 focus:border-sky-600 focus:ring-sky-600 disabled:opacity-50 dark:border-gray-400 dark:bg-gray-500 dark:text-white dark:focus:border-sky-500 dark:focus:ring-sky-500;
  }

  /* Fix arrow not showing on dark mode */
  select {
    @apply dark:bg-blend-screen;
  }

  [type='number']::-webkit-outer-spin-button,
  [type='number']::-webkit-outer-spin-button,
  [type='number'] {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
  }

  input[type='checkbox'],
  input[type='radio'] {
    @apply cursor-pointer border-gray-200 text-sky-600 focus:ring-sky-500;
  }

  input[type='checkbox'] {
    @apply rounded;
  }
}
